<div class="k-line-chart-container">
  <p class="k-line-chart-title">设置时区</p>
  <div id="timezone-k-line" class="k-line-chart"></div>
  <div class="k-line-chart-setting-container">
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': timezone === 'Asia/Shanghai'}"
      (click)="setTimezone('Asia/Shanghai')">
      上海
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': timezone === 'Europe/Berlin'}"
      (click)="setTimezone('Europe/Berlin')">
      柏林
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': timezone === 'America/Chicago'}"
      (click)="setTimezone('America/Chicago')">
      芝加哥
    </button>
  </div>
</div>
