<div class="k-line-chart-container">
  <p class="k-line-chart-title">主图指标设置</p>
  <div id="candle-stick-technical-indicator-setting-k-line" class="k-line-chart"></div>
  <div class="k-line-chart-setting-container">
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': technicalIndicatorType === 'NO'}"
      (click)="setTechnicalIndicatorType('NO')">
      NO
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': technicalIndicatorType === 'MA'}"
      (click)="setTechnicalIndicatorType('MA')">
      MA
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': technicalIndicatorType === 'EMA'}"
      (click)="setTechnicalIndicatorType('MA')">
      EMA
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': technicalIndicatorType === 'BOLL'}"
      (click)="setTechnicalIndicatorType('BOLL')">
      BOLL
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': technicalIndicatorType === 'SAR'}"
      (click)="setTechnicalIndicatorType('SAR')">
      SAR
    </button>
  </div>
</div>
