<div class="app" role="main">
  <app-chart-type-k-kline-chart></app-chart-type-k-kline-chart>
  <app-technical-indicator-k-line-chart></app-technical-indicator-k-line-chart>
  <app-custom-theme-k-kline-chart></app-custom-theme-k-kline-chart>
  <app-language-k-kline-chart></app-language-k-kline-chart>
  <app-tooltip-k-kline-chart></app-tooltip-k-kline-chart>
  <app-timezone-k-kline-chart></app-timezone-k-kline-chart>
  <app-draw-graphic-mark-k-line-chart></app-draw-graphic-mark-k-line-chart>
  <app-custom-candle-mark-k-kline-chart></app-custom-candle-mark-k-kline-chart>
  <app-load-more-k-kline-chart></app-load-more-k-kline-chart>
  <app-update-k-kline-chart></app-update-k-kline-chart>
</div>
