<div class="app" role="main">
  <div class="k-line-chart-row">
    <app-basic-k-kline-chart></app-basic-k-kline-chart>
    <app-real-time-k-kline-chart></app-real-time-k-kline-chart>
  </div>
  <div class="k-line-chart-row">
    <app-update-k-kline-chart></app-update-k-kline-chart>
    <app-load-more-k-kline-chart></app-load-more-k-kline-chart>
  </div>
  <div class="k-line-chart-row">
    <app-technical-indicator-k-line-chart></app-technical-indicator-k-line-chart>
    <app-technical-indicator-last-data-prompt-k-line-chart></app-technical-indicator-last-data-prompt-k-line-chart>
  </div>
  <div class="k-line-chart-row">
    <app-left-y-axis-k-kline-chart></app-left-y-axis-k-kline-chart>
    <app-without-y-axis-k-kline-chart></app-without-y-axis-k-kline-chart>
  </div>
  <div class="k-line-chart-row">
    <app-percentage-y-axis-k-line-chart></app-percentage-y-axis-k-line-chart>
    <app-y-axis-text-inside-k-line-chart></app-y-axis-text-inside-k-line-chart>
  </div>
  <div class="k-line-chart-row">
    <app-custom-font-k-kline-chart></app-custom-font-k-kline-chart>
    <app-custom-theme-k-kline-chart></app-custom-theme-k-kline-chart>
  </div>
  <div class="k-line-chart-row">
    <app-custom-language-k-kline-chart></app-custom-language-k-kline-chart>
    <app-timezone-k-kline-chart></app-timezone-k-kline-chart>
  </div>
  <div class="k-line-chart-row">
    <app-candle-stick-technical-indicator-setting-k-kline-chart></app-candle-stick-technical-indicator-setting-k-kline-chart>
    <app-draw-graphic-mark-k-line-chart></app-draw-graphic-mark-k-line-chart>
  </div>
  <div class="k-line-chart-row">
    <app-float-prompt-k-kline-chart></app-float-prompt-k-kline-chart>
    <app-follow-crosshair-prompt-k-kline-chart></app-follow-crosshair-prompt-k-kline-chart>
  </div>
</div>
