.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.app .k-line-chart-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  background-color: #FFFFFF;
  width: 620px;
  height: 440px;
  padding: 16px 6px 16px 16px;
}

.app .k-line-chart-container .k-line-chart-title {
  margin: 0;
  color: #252525;
  padding-bottom: 10px;
}
.app .k-line-chart-container .k-line-chart {
  display: flex;
  flex: 1;
}
.app .k-line-chart-container .k-line-chart-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: #606060;
}

.app .k-line-chart-container .k-line-chart-menu-container button {
  cursor: pointer;
  background-color: #1677FF;
  border-radius: 2px;
  margin-right: 8px;
  height: 24px;
  line-height: 26px;
  padding: 0 6px;
  font-size: 12px;
  color: #fff;
  border: none;
  outline: none;
}
