<div class="k-line-chart-container">
  <p class="k-line-chart-title">自定义文字</p>
  <div id="custom-font-k-line" class="k-line-chart"></div>
  <div class="k-line-chart-setting-container">
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': fontType === 0}"
      (click)="setFont(0, 'Arial', 12)">
      Arial 12
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': fontType === 1}"
      (click)="setFont(1, 'Arial', 14)">
      Arial 14
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': fontType === 2}"
      (click)="setFont(2, 'Courier New', 12)">
      Courier New 12
    </button>
    <button
      class="k-line-chart-setting-button"
      [ngClass]="{'k-line-chart-setting-button-selected': fontType === 3}"
      (click)="setFont(2, 'Times New Roman', 14)">
      Times New Roman 14
    </button>
  </div>
</div>
